/*========================UTILITY====================*/
:root {
  --main-dark-color: #2e2f42;
  --main-light-color: #f4f4fd;
  --primary-brand: #4d5ae5;
  --primary-color-text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --color-hover-effect: #404bbf;
  --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.img {
  display: block;
  height: auto;
}
/*========================/UTILITY====================*/

/*========================HEADER====================*/
/* 0 - 767 */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .address {
    display: none;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  .header-burger-btn {
    border: none;
    background-color: transparent;
    height: 32px;
    padding: 0;
  }
  .header-burger-btn-svg {
    fill: var(--main-dark-color);
  }
  .menu-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 40px;
    padding-top: 80px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .mobile-menu-window {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(0);
  }

  .mobile-btn-modal-close {
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-func);
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .mobile-menu-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: var(--main-dark-color);
    position: relative;
  }
  .contact-item:first-child {
    margin-bottom: 40px;
  }
  .contact-item-number {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    font-style: normal;
    text-transform: capitalize;
    color: var(--primary-brand);
  }
  .contact-item-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    color: var(--primary-color-text);
  }
  .mobile-list-icon {
    display: flex;
    column-gap: 56px;
    margin-top: 48px;
  }
  .mobile-active-pages {
    color: var(--color-hover-effect);
  }
}

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark-color);
}
.accent {
  color: var(--primary-brand);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* 428px - ... */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

/* 768px - ... */
@media screen and (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
  .menu-container {
    display: none;
  }
  .header {
    padding-bottom: 10px;
  }
  .header-container {
    align-items: start;
  }

  .container {
    max-width: 768px;
  }
  .nav-menu {
    display: flex;
  }
  .menu {
    display: flex;
    margin-left: 120px;
    column-gap: 40px;
  }
  .menu-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--main-dark-color);
    position: relative;
  }
  .active-page::after {
    content: "";
    position: absolute;
    display: block;
    top: 42px;
    width: 100%;
    height: 4px;
    background: var(--color-hover-effect);
    border-radius: 2px;
  }
  .contact-item-link {
    font-style: normal;
    font-size: 12px;
    line-height: calc(16 / 12);
    color: var(--primary-color-text);
    transition: color var(--transition-func);
  }
}

/* 1200px - ... */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    padding-bottom: 28px;
  }
  .menu {
    margin-left: 76px;
  }
  .menu-item-link {
    font-weight: 600;
    transition: color var(--transition-func);
  }
  .menu-item-link:hover,
  .menu-item-link:focus {
    color: var(--color-hover-effect);
  }
  .address {
    margin-left: auto;
  }
  .contact {
    display: flex;
    column-gap: 24px;
  }
  .contact-item:first-child {
    margin-right: 40px;
  }
  .active-page::after {
    top: 47px;
  }
  .contact-item-link {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  .contact-item-link:hover,
  .contact-item-link:focus {
    color: var(--color-hover-effect);
  }
}

/*========================/HEADER====================*/

/*========================TEXT STYLE====================*/

@media screen and (min-width: 320px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--main-dark-color);
  }
  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: var(--main-dark-color);
    margin-bottom: 8px;
  }
  .text {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

@media screen and (min-width: 1200px) {
  .text {
    font-weight: 400;
  }
}
/*========================/TEXT STYLE====================*/

/*========================PAGE STUDIO====================*/
/*========================PAGE STUDIO====================*/

/*========================HERO====================*/

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-repeat: no-repeat;
  background-position: center center;
}
.modal-btn-center {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/mobile-hero-bg.jpg);
    background-size: 428px, 428px;
  }
  .hero-title {
    max-width: 318px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 auto 72px auto;
  }
  .modal-btn {
    font-family: inherit;
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    border: none;
    transition: background-color var(--transition-func);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/mobile-hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-hero-bg.jpg);
    background-size: 768px, 768px;
    padding-bottom: 108px;
  }
  .hero-title {
    max-width: 494px;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 40px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.png);
    background-size: 1440px, 1440px, cover;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--color-hover-effect);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

/*========================/HERO====================*/

/*========================ASTRONAUT====================*/
@media screen and (max-width: 1199px) {
  .big-svg {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .section-astronaut-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .astronaut-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-dark-color);
    margin-bottom: 8px;
  }
  .astronaut-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primary-color-text);
  }
}
@media screen and (min-width: 768px) {
  .list-item {
    width: 356px;
  }
  .section-astronaut-list {
    column-gap: 24px;
    row-gap: 0;
  }
  .astronaut-list-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .list-item {
    width: 264px;
  }
  .astronaut-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .astronaut-text {
    font-weight: 400;
  }

  .big-svg-link {
    background-color: var(--main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
  }
  .big-svg {
    width: 64px;
    height: 64px;
  }
}
/*========================/ASTRONAUT====================*/

/*========================SECTION-IMG====================*/
@media screen and (max-width: 1199px) {
  .section-img-only-list {
    display: none;
  }
  .section-img-only {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-img-only {
    padding-bottom: 120px;
  }
  .section-img-only-list {
    display: flex;
    column-gap: 24px;
  }
}
/*========================/SECTION-IMG====================*/

/*========================TEAM CARD====================*/

.team-card-bg {
  background-color: var(--main-light-color);
}
@media screen and (min-width: 320px) {
  .card {
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
  }
  .team-card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }
  .list-icon {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-top: 8px;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-light-color);
    background-color: var(--primary-brand);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: background-color var(--transition-func);
  }
  .team-card-svg {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team-card-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-container:hover,
  .icon-container:focus {
    background-color: var(--color-hover-effect);
  }
}

/*========================/TEAM CARD====================*/

/*========================CUSTOMERS====================*/
@media screen and (min-width: 320px) {
  .list-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
  }
  .client-svg {
    height: 56px;
    width: 104px;
    transition: fill var(--transition-func);
  }
  .client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--subtle-text);
    fill: var(--subtle-text);
    border-radius: 4px;
    width: 190px;
    height: 88px;
    transition: border-color var(--transition-func);
  }
  .client-container:hover,
  .client-container:focus {
    border-color: var(--color-hover-effect);
    fill: var(--color-hover-effect);
  }
}
@media screen and (min-width: 768px) {
  .list-client {
    column-gap: 24px;
  }
  .client-container {
    width: 168px;
  }
}

/*========================/CUSTOMERS====================*/

/*========================FOOTER====================*/

@media screen and (min-width: 320px) {
  .footer {
    background-color: var(--main-dark-color);
    padding: 96px 0;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .accent-light {
    color: var(--main-light-color);
  }
  .footer-color-text {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-top: 16px;
    color: var(--accent);
    width: 264px;
  }
  .media {
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
  }

  .social-media-list {
    display: flex;
    column-gap: 16px;
  }
  .footer-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-light-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: background-color var(--transition-func);
  }
  .footer-svg {
    height: 24px;
    width: 24px;
  }
  .footer-subscribe {
    width: 100%;
  }
  .footer-subscribe-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }

  .user-mail-subscribe {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 0 8px 16px;
    height: 40px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .user-mail-subscribe::placeholder {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }

  .subscribe-btn {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin: 0 auto;
    max-height: 40px;
    padding: 8px 24px;
    background: var(--primary-brand);
    border-color: var(--primary-brand);
    border-radius: 4px;
    color: #ffffff;
    transition: background-color var(--transition-func),
      box-shadow var(--transition-func), border-color var(--transition-func);
  }

  .subscribe-svg {
    height: 24px;
    width: 24px;
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
  .footer-logo {
    justify-content: start;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    row-gap: 72px;
  }
  .social-media {
    margin-left: 24px;
  }
  .media {
    text-align: start;
  }
  .footer-subscribe-label {
    text-align: start;
  }
  .user-mail-subscribe {
    width: 264px;
    margin-bottom: 0;
  }
  .footer-wraper {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  .subscribe-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .social-media {
    margin-left: 120px;
  }
  .social-media-list {
    column-gap: 24px;
  }
  .footer-icon-container:hover,
  .footer-icon-container:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe {
    margin-left: 80px;
  }

  .user-mail-subscribe {
    width: 264px;
  }
  .subscribe-btn:is(:hover, :focus) {
    background-color: var(--color-hover-effect);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--color-hover-effect);
  }
}

/*========================/FOOTER====================*/

/*========================MODAL WINDOW====================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-func), visibility var(--transition-func);
}
.modal-window {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-func), opacity var(--transition-func);
}
.is-hidden.backdrop .modal-window {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden.backdrop {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.btn-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-func);
}
.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: var(--color-hover-effect);
}
.btn-modal-close:hover .svg-close,
.btn-modal-close:focus .svg-close {
  fill: #fff;
}
.svg-close {
  height: 8px;
  width: 8px;
  transition: fill var(--transition-func);
}
/*========================/MODAL WINDOW====================*/

/*========================MODAL FORM====================*/

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-dark-color);
  margin-bottom: 16px;
}
.modal-label {
  display: block;
  margin-bottom: 8px;
}
.modal-label-comment {
  display: block;
  margin-bottom: 16px;
}
.label-desc {
  display: block;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input {
  width: 100%;
  padding-left: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-func);
}
.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-input-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--main-dark-color);
  transition: fill var(--transition-func);
}
.modal-input:focus + .modal-input-svg {
  fill: var(--primary-brand);
}
.user-message {
  width: 360px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color var(--transition-func);
}
.user-message:focus {
  border-color: var(--primary-brand);
}
.user-message::placeholder {
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.label-check {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
}

.label-check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/vector.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 10px 8px;
  height: 16px;
  width: 16px;
  border: 1.25px solid var(--main-dark-color);
  border-radius: 2px;
  transition: background-color var(--transition-func);
}
.modal-check:focus + .label-check::before {
  border: 1.25px solid var(--color-hover-effect);
}
.modal-check:checked + .label-check::before {
  border: 1.25px solid var(--color-hover-effect);
  background-color: var(--color-hover-effect);
}

.modal-submit-btn {
  padding: 16px 32px;
  background: var(--primary-brand);
  border-color: var(--primary-brand);
  border-radius: 4px;
  color: #ffffff;
  min-width: 169px;
  text-align: center;
  align-self: center;
  transition: background-color var(--transition-func),
    box-shadow var(--transition-func);
}
.modal-submit-btn:is(:hover, :focus) {
  background-color: var(--color-hover-effect);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*========================/MODAL FORM====================*/

/*========================/PAGE STUDIO====================*/
/*========================/PAGE STUDIO====================*/

/*========================PAGE PORTFOLIO====================*/
/*========================PAGE PORTFOLIO====================*/

/*========================FILTER====================*/
.filter {
  padding-top: 100px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.btn-filter {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--main-light-color);
  border: 1px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color var(--transition-func),
    color var(--transition-func), box-shadow var(--transition-func),
    border-color var(--transition-func);
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--color-hover-effect);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-brand);
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .wrap {  justify-content: start;

  }
}
.card-filter {
  flex-basis: calc((100% - 96px) / 3);
  cursor: pointer;
  transition: box-shadow var(--transition-func);
}
.card-filter:hover,
.card-filter:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-filter-link:hover .overlay,
.card-filter-link:focus .overlay {
  transform: translate(0, 0);
}
.work-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px 0 32px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: transform var(--transition-func);
  /* overflow: scroll; */
}
.overlay-text {
  color: var(--main-light-color);
  font-size: 16px;
  line-height: calc(24 / 16);
}
.text-filter-card {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--accent);
  border-top: 0;
}

/*========================/FILTER====================*/

/*========================/PAGE PORTFOLIO====================*/
/*========================/PAGE PORTFOLIO====================*/
